@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: #0F172A;
  --color-secondary: #1E293B;
  --color-tertiary: #231500;
  --color-neutral: #787778;
  --color-text: #ffffff;

  /* Other Colors */
  --color-bright-p: #3B82F6;
  --color-grayed-p: #64748B;
  --color-mint-p: #BEC6E0;

  /* Typography */
  --font-sans: "Inter", sans-serif;
  --font-mono: "Space Grotesk", monospace;

  /* Typography */
  --text-headline-xl: 40px;
  --text-headline-lg: 32px;
  --text-headline-md: 24px;
  --text-body-lg: 18px;
  --text-body-md: 16px;
  --text-body-sm: 14px;
  
  /* Shapes & Radius */
  --radius-sm: 0.125rem;
  --radius-DEFAULT: 0.25rem; 
  --radius-md: 0.375rem;
  --radius-lg: 0.5rem; 
  --radius-xl: 0.75rem;
  --radius-full: 9999px;

  /* Spacing Rhythm */
  --spacing-base: 4px;
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-2xl: 48px;
}

@layer base {
  body {
    color: var(--color-text);
    font-family: var(--font-sans);
    line-height: 1.5; 
  }
}

@layer components {
  .main-heading{
    font-family: var(--font-sans);
    font-weight: 900;
    font-size: var(--text-headline-lg);
    color: var(--color-text);
  }

  .nav-items{
    font-size: var(--text-body-lg);
    color: var(--color-grayed-p);
  }
  .nav-items:hover{
    color: var(--color-bright-p);
    transition: tranform(2s);
  }

  .primary-btn {
    padding: 0.5rem 2.5rem;
    font-size: var(--text-body-lg);
    border: 1px solid var(--color-bright-p);
    border-radius: var(--radius-DEFAULT);
    transition: color 0.2s ease;
  }
}
